# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Exercícios Cap02

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [3]:
list_numbers = [1,2,3,4,5,6,7,8,9,10]
list_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [33]:
list_objects = ['uva', 33, {'Key1':3}, (5,3,9.2), {'key2':{'key3':{'key4':'sol da manhã'}}}]
list_objects

['uva',
 33,
 {'Key1': 3},
 (5, 3, 9.2),
 {'key2': {'key3': {'key4': 'sol da manhã'}}}]

In [34]:
lis_len = len(list_objects)
lis_len

5

In [36]:
if lis_len == 5: 
    print('The len of list_objects is: ' + str(lis_len) + '.')
    print('Good job!')
else:
    print("The len is invalid, try again!")

The len of list_objects is: 5.
Good job!

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [109]:
str1 = 'Data Science, '
str2 = 'joining business knowledge to data for decision-making.'
str_total = str1 + str2
print(str_total)

Data Science, joining business knowledge to data for decision-making.

In [44]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [113]:
tuple1 = (1, 2, 2, 3, 4, 4, 4, 5)
tuple1.count(4)
tuple_number4 = str(tuple1.count(4))
print('The number 4 appears ' + tuple_number4 + ' times.')

The number 4 appears 3 times.

In [118]:
tuple_format = tuple1.count(2)
print('The number 2 appears {} times.'.format(tuple_format))

The number 2 appears 2 times.

In [22]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [61]:
dict = {}
dict

{}

In [36]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [125]:
dict = {'key1':1, 'key2':{'key2.1':{'key2.2':'lua'}}, 'key3':3}
print('The dict len is: \n{}'.format(len(dict)))

The dict len is:
3

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [127]:
dict['key4'] = 33
dict

{'key1': 1, 'key2': {'key2.1': {'key2.2': 'lua'}}, 'key3': 3, 'key4': 33}

In [128]:
dict_updating = {'key5': 'good job!'}
dict.update(dict_updating)
dict

{'key1': 1,
 'key2': {'key2.1': {'key2.2': 'lua'}},
 'key3': 3,
 'key4': 33,
 'key5': 'good job!'}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [132]:
dict3 = {'key_str':'Bill', 'key_list':[11.1, 22], 'key_tuple':('apple', 33, {'key_number':77})}
print('The len is: \n{}'.format(len(dict3)))

The len is:
3

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. 
#O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, 
#o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [164]:
list_final = ['This is a string', (5, ' '), {'key1':1, 'key2':2}, 10.5]
print('The element number 1, 2, 3 and 4 is: \n{}; \n{} with {} elements; \n{}; \n{}.'.format(type(list_final[0]), type(list_final[1]), len(list_final[1]), type(list_final[2]), type(list_final[3])))

The element number 1, 2, 3 and 4 is:
<class 'str'>;
<class 'tuple'> with 2 elements;
<class 'dict'>;
<class 'float'>.

In [166]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [169]:
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>